# Don't publish the templates, as they are bloat and unecessary for usage of the cli
Mod Templates
# Don't publish "repository metadata", as they are unecessary for usage of the cli
.github
.vscode
# Don't publish the whole API source as they are unecessary for usage of the cli
API
# Do publish the compiled API as it is needed by the local patcher
!API/dist
# Don't publish the web loader, as the npm package is only for local patching.
Loader/webLoader
